.background {
  position: relative;
  width: 100%;
  height: 590px;
  margin-top: 79px;
  background-image: linear-gradient(
    to bottom right,
    #031f73 0%,
    #031f73 50%,
    transparent 50.1%
  );
  background-size: 103% 110%;
}
.sobre {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 7.25rem;
  margin-top: 112px;
  width: 22.5rem;
  height: 17.5rem;
  display: inline-block;
}
.sobre h1 {
  position: absolute;
  width: 294px;
  height: 141px;
  left: 116px;
  top: 128px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobre p {
  position: absolute;
  width: 360px;
  height: 25px;
  left: 116px;
  top: 267px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
}
.nav {
  background: #d75413;
  height: 50px;
  width: 230px;
  margin-top: 222px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.but {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  position: absolute;
  border-radius: 25px;
  width: 164px;
  height: 30px;
  left: 149px;
  top: 344px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
.but:hover {
  color: #031f73;
}
.carousel_content {
  width: 671px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: right;
  left: 576px;
  margin-top: 63px;
  margin-right: 115px;
}
.carousel_content p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  width: 664.9px;
  height: 33px;
  left: 0.45%;
  right: 0.45%;
  top: 76.89%;
  bottom: 15.78%;
  color: #444053;
  margin-top: 25.56px;
  margin-bottom: 71px;
}
.carousel_content b {
  color: #d75413;
}
